@using Microsoft.JSInterop
@using System.Net.Http.Json
@using BlazorApp.Models
@using BlazorApp.Services

<section class="dark" id="home">
    @if (hero is not null)
    {
        <img class="background" src="@(hero.Src)" alt="@(hero.Alt)" />
    }
    <div class="home-content">
    @if (property is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <h1>@property.Name</h1>
        <h2>@property.Title</h2>
    }
    </div>
    <div class="down-arrow-container">
        <img src="images/down-arrow.svg" class="down-arrow" alt="scroll down" @onclick="ScrollToPageBottom" />
    </div>
</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private SiteProperties? property;
    private HeroImage? hero;

    protected override async Task OnInitializedAsync()
    {
        property = await Http.GetFromJsonAsync<SiteProperties>("sample-data/siteproperties.json");
        hero = await HeroImageService.GetHeroAsync(img => img.Name is "home");
    }

    [Inject]
    private IJSRuntime JS { get; set; } = default!;

    private async Task ScrollToPageBottom()
    {
        await JS.InvokeVoidAsync("scrollToBottom");
    }
}