#header {
  position: fixed;
  display: flex;
  justify-content: center;
  gap: 2rem;
  background: rgba(255,255,255,0.75);
  padding: 1rem;
  top: 0;
  width: 100vw;
  z-index: 10;
}

body.header-hidden #header {
  top: -60px !important;
  opacity: 0;
  pointer-events: none;
  transition: top 0.3s, opacity 0.3s;
}
body.header-visible #header {
  top: 0 !important;
  opacity: 1;
  pointer-events: auto;
  transition: top 0.3s, opacity 0.3s;
}

@media (max-width: 700px) {
  #header {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    font-size: 1.1rem;
  }
}